In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.datasets import make_blobs

In [7]:
df = pd.read_csv('data.csv')
df.columns = df.columns.str.strip()
df.pop("Unnamed: 0")
df.head(5)

,Email,C,C++,C#,Go,Java,JavaScript,PHP,Python,Scala,...,SASS,ASP.NET Core,Redis,MySQL,NoSQL,SQL,Ruby on Rails,Jquery,Next.js,Apache
0,0@lol.com,0,1,1,0,0,0,1,1,0,...,0,0,0,0,1,0,0,0,1,1
1,1@lol.com,0,0,0,1,1,0,0,1,1,...,1,0,0,1,1,1,1,0,0,1
2,2@lol.com,0,0,0,1,1,1,0,1,0,...,0,1,0,0,0,1,1,1,1,1
3,3@lol.com,0,1,1,1,0,0,1,1,0,...,1,0,0,0,0,0,0,0,1,0
4,4@lol.com,1,0,0,0,1,0,0,0,0,...,1,0,1,1,1,1,0,0,0,1

In [85]:
def find_nearest_neighbor(email):
    correct_index = df.index[df['Email'] == email]
    print(correct_index)

    arr = df.loc[:, df.columns != 'Email'].to_numpy()


    diff = arr[correct_index] - arr
    np.abs(diff)

    distances = np.sum(diff, axis = 1)
    
    distances_corrected = np.delete(distances, correct_index)
    return distances_corrected.argmin()

In [86]:
x = find_nearest_neighbor('0@lol.com')
x

Int64Index([0], dtype='int64')

6524

In [87]:
df.iloc[6524]

Email                  6524@lol.com
C                                 0
C++                               1
C#                                1
Go                                0
Java                              0
JavaScript                        1
PHP                               1
Python                            1
Scala                             1
TypeScript                        0
HTML                              1
CSS                               1
Verilog                           0
ARM Assembly                      0
x86-64 Assembly                   1
Haskell                           0
BASIC                             0
Kotlin                            1
Racket                            0
Swift                             0
R                                 1
Rust                              0
Julia                             1
Ruby                              1
Erlang                            1
Spring                            1
React                             1
Vue                               0
Svelte                            1
Flask                             1
FastAPI                           0
MongoDB                           0
Firebase                          1
Amazon Web Services               1
Backbone                          0
Express.JS                        0
Angular                           0
Django                            1
Laravel                           0
CircuitPython                     1
SASS                              1
ASP.NET Core                      0
Redis                             0
MySQL                             0
NoSQL                             0
SQL                               0
Ruby on Rails                     0
Jquery                            1
Next.js                           1
Apache                            1
Name: 6524, dtype: object